.dj {
  height: 58vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.dj-vinyl {
  width: 200px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none; /* prevents long-press menu on iOS */
  touch-action: none; /* disables default touch behavior */
}

.dj-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dj-instruction {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
